h3 {
  font-size: 26px;
  margin-bottom: 55px;
}

.ui-g {
  text-align: center;
}

input::placeholder {
  text-align: center;
}

.ui-button-text {
  color: #000;
}

.big-logo {
  min-height: 68px;
  max-width: 106px;
}

footer {
  margin-top: 30px;
}
