.input-group-center {
    justify-content: center;
  }
  
  button.button-search {
    width: 40px;
  }
  
  button.button-search {
    font-size: 10px;
    background: url("../../../../assets/images/svg/search_icon.svg"),
      rgb(255, 196, 0) no-repeat;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  