<div class="main-wrapper">
  <app-single-page-overview
    [data]="politicalParty"
    [tabs]="tabs"
    [schema]="schema"
  >
    <h2>Политична партия</h2>
    <div class="company-info--btn-block">
      <div class="company-info__main-content">
        <p class="company-info__single-title">
          Ця партія є громадською організацією
        </p>
        <button
          class="company-info__btn"
          routerLink="/company/{{ identifier }}"
        >
          Детальніше
        </button>
      </div>
    </div>
  </app-single-page-overview>
</div>
