.ui-g-12 {
  padding: 0;
}

.search-results-title {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background: #f2f2f2;
  padding: 1em 0;
  margin-bottom: 15px;
  p {
    font-family: "Montserrat-Medium";
    font-size: 16px;
  }
}

p {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto";
}

.list-item-title {
  font-family: "Roboto";
  font-size: 12px;
}

.card {
  width: 100%;
}

.card:not(:last-child) {
  border-bottom: 2px solid #eee;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.flex.kved {
  align-items: flex-start;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  button {
    margin-top: 15px;
  }
}

.sort-button {
  min-width: 65px;
  height: auto;
  padding: 10px 12px;
  border-radius: 4px;
  margin-right: 15px;
  font-size: 15px;
  font-family: "Roboto";
  background-color: #fff;
  &:enabled:hover,
  &:active:hover {
    background-color: #ffc400;
  }
}

.icon {
  width: 18px;
  height: 18px;
  text-align: center;
  margin-right: 10px;
}

.name {
  margin-bottom: 10px;
  font-family: "Roboto";
}

.address {
  .icon {
    background: url("../../../../assets/location.svg") no-repeat;
    width: 35px;
  }
}

.kved {
  .icon {
    background: url("../../../../assets/category.svg") no-repeat;
    background-size: 20px;
    margin-right: 10px;
    margin-top: 1px;
  }
}

.boss,
.founders {
  .icon {
    background: url("../../../../assets/user.svg") no-repeat;
  }
}

.founders {
  margin-bottom: 0;
  .icon {
    width: 12%;
  }
}

.thead {
  border-bottom: 2px solid #eee;
  background-color: #f2f2f2;
  padding-left: 15px;
  padding-bottom: 15px;
}

.active {
  background-color: #ffc400;
}

.pre-wrap {
  white-space: pre-wrap;
}

.matched-word {
  font-weight: bold;
}

.pagination-wrapper {
  min-height: 70px;
  width: 100%;
}
