.rights-reserved {
  background-color: #ffffff;
}

.extrawest {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 10px;
  font-size: 12px;
}
.subpage {
  .extrawest {
    margin-bottom: 0;
  }
}

.extrawest div {
  display: inline-block;
}

.extrawest-logo {
  background: url("../../../assets/images/svg/extrawest_logo.svg") no-repeat;
  background-size: 68px;
  height: 15px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}
