.search-details-title {
  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background: #f2f2f2;
  border-bottom: 2px solid #eee;
  padding-bottom: 1em;
  border-bottom: rgb(255, 196, 0) 4px solid;
}

.founder {
  background-color: #fbfbfb;
}

.search-details-title-container {
  padding: 0;
}

h3 {
  margin: 0;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.details-info {
  height: 100%;
  .company-info {
    padding: 12px 0;
  }
  .company-info__main-content {
    font-size: 13px;
  }
}

.accordion-title-right {
  width: 22px;
}

.accordion-title-right .pdf {
  background: url('../../../../assets/pdf_download.svg'), no-repeat;
  background-size: 20px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.accordion-title-left {
  h3 {
    font-size: 13px;
    padding: 0;
  }
  span {
    display: block;
    font-size: 10px;
    color: #818181;
    margin-top: 5px;
  }
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.8);
}

.company-details-title {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;
}
.company-info {
  padding: 25px 0;
  &:not(:last-child){
    border-bottom: 1px solid #d5d5d5;
  }
}

.company-info__status {
  text-align: left;
}

.place-registration {
  .company-info__status {
    &:hover {
      cursor: pointer;
    }
  }
    i.external-link {
      display: block; // replace with display: block;
    }
  }

.copy {
  background: url('../../../../assets/img/copy.svg'), no-repeat;
  background-size: 20px;
  height: 22px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
  }
}

.external-link {
  background: url('../../../../assets/img/link.svg'), no-repeat;
  background-size: 20px;
  height: 22px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  display: none;

  &:hover {
    cursor: pointer;
  }
}

.flex-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__header {
    padding-bottom: 5px;
  }
}

.flex-column-wrapper {
  display: flex;
  flex-direction: column;
}

.accordion-title {
  border-bottom: 1px solid #d5d5d5;
}
.activities {
  flex-direction: column;
  .company-info__status {
    text-align: left;
    font-size: 14px;
    width: 100%;
  }
}
.search-result-block {
  background-color: #f2f2f2;
  height: 148px;
}

h5 {
  margin-block-start: 1.5em;
  margin-block-end: 0.1em;
}

.company-info--btn-block {
  margin-top: 15px;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #000;
  background: -webkit-linear-gradient(to right bottom, #FFC400, #FFFFFF);
  background: linear-gradient(to right bottom, #FFC400, #FFFFFF);
  border-radius: 3px;
}

.founders {
  &__counter {
    font-weight: bold;
    padding-right: 10px;
  }
  &__block {
    .company-info {
      border-bottom: none;
    }
  }
 &__count {
   text-transform: uppercase;
   font-size: 16px;
   color: #48a1f4;
  }
  &__chart {
    align-self: center;
  }
  &__list {
    padding-top: 10px;
    overflow: hidden;
    height: auto;
    min-height: 60px;
    max-height: auto; // temp value: for animated open list
  }

  &__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    border-left: solid 4px transparent;

    &:not(:last-child){
      border-bottom: 2px #e8e8e8 solid;
    }

    &_selected {
      border-left: solid 4px rgb(255, 196, 0);
    }

    .unselected {
      border-left: solid 4px transparent;
    }

    &-color {
      flex-grow: 0;
      border-radius: 25%;
      width: 7px;
      height: 15px;
      align-self: center;
      margin: 0 5px;
    }
    &-name {
      flex-grow: 1;
    }
    &-percent {
      flex-grow: 1;
      text-align: right;
      padding-right: 5%;
    }
  }
}

.list {
  &-opened {
    height: auto;
    transition: max-height .7s ease-in;
  }
  &-closed{
    max-height: 300px;
    transition: max-height .3s ease-out;
  }
}

main {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 10px -6px #222;
  -moz-box-shadow: 0 1px 10px -6px #222;
  box-shadow: 0 1px 10px -6px #222;
}

.btn-show-more {
  &-holder {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #48a1f4;
    cursor: pointer;
  }
  &-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
    }
  }
}
.percentage-label {
  margin: 0 auto;
  transform: translateY(-170px) translateX(5px);
  font-size: 2.5rem;
  font-weight: bold;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
